<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<br><br><br><br>

<form action="profile" method=POST>
  <label for="name">First name:</label><br>
  <input type="text" id="email" name="email" value="{{ email }}"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="password" name="password" value="{{ password }}"><br><br>
  <input type="submit" value="Ir a perfil">
</form>
{% if (role.code == 'ADMIN') or (role.code == 'VEN') or (role.code == 'SUPERADMIN') %}
<a href="{{ url_for('publish') }}">Publicar</a><br>
{% endif %}
<a href="{{ url_for('create_post') }}">Publicaciones</a><br>
<a href="{{ url_for('close_session') }}">Cerrar sesion</a>

<h3>{{ username }}</h3>
<h3>{{ role }}</h3>
<h3>{{ date }}</h3>


{% for post in posts[::-1] %}
<div>
{{ post.post }}
    {{ post.place_name }}
    {{ post.product_name }}
    {{ post.udm_name }}
    {{ post.product_qualification_name }}
    {{ post.price }}
    <form action="map" method=POST>
      <label for="latitude">First name:</label><br>
      <input type="text" id="latitude" name="latitude" value="{{ post.place_latitude }}"><br>
      <label for="longitude">Last name:</label><br>
      <input type="text" id="longitude" name="longitude" value="{{ post.place_longitude }}"><br><br>
      <label for="post">Last name:</label><br>
      <input type="text" id="post" name="post" value="{{ post.post }}"><br><br>
      <input type="submit" value="Ver mapa">
    </form>
</div>
{% endfor %} 


</body>
</html> 