<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi {{ partner.name }} {{ date_now }}</h1>
    <h3>{{ role.name }}</h3>
    <h3>{{ partner.email }}</h3>
    <h3>{{ partner.username }}</h3>
    <h3>{{ role.code }}</h3>
    {% if role.code == 'VEN' %}
      {% for place in places %}
      {{ place.name }}
      {% endfor %}
    {% endif %}
<br><br><br><br>
            

<!--<h1>Datos partner</h1>
<form action='profile' method="POST">
  <label for="fname" >Nombre:</label>
  <input type="text" id="name" name="name" type="hidden" value='{{ partner.name }}'>
  <label for="fname" >Apellido:</label>
  <input type="text" id="last_name" name="last_name" type="hidden" value='{{ partner.last_name }}'>
  <label for="fname" >Email: </label>
  <input type="text" id="email" name="email" type="hidden" value='{{ partner.email }}'>
  <label for="fname" type="hidden">Username: </label>
  <input type="text" id="username" name="username" type="hidden" value='{{ partner.username }}'>
  <label for="fname" type="hidden">Phone: </label>
  <input type="text" id="phone" name="phone" type="hidden" value='{{ partner.phone }}'>
  <input type="submit" value="Datos perfil">
  </form>
  </div>-->
  <form action="profile" method=POST>
    <label for="name">First name:</label><br>
    <input type="text" id="email" name="email" value="{{ partner.email }}"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="password" name="password" value="{{ partner.password }}"><br><br>
    <input type="submit" value="Ir a perfil">
  </form>
  {% if (role.code == 'ADMIN') or (role.code == 'VEN') or (role.code == 'SUPERADMIN') %}
  <a href="{{ url_for('publish') }}">Publicar</a><br>
  
  {% endif %}
  <a href="{{ url_for('create_post') }}">Publicaciones</a><br>
  <a href="{{ url_for('close_session') }}">Cerrar sesion</a>
  <a href="{{ url_for('recover_password') }}">Recuperar contraseña</a>

</body>
</html>
