<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{{ partner }}
{{ role }}
{{ phone }}
{{ date }}

{% if (role.code == 'ADMIN') or (role.code == 'VEN') or (role.code == 'SUPERADMIN') %}
  <a href="{{ url_for('publish') }}">Publicar</a><br>
  
  {% endif %}
  <a href="{{ url_for('create_post') }}">Publicaciones</a><br>
  <a href="{{ url_for('close_session') }}">Cerrar sesion</a><br>
  <a href="{{ url_for('recover_password') }}">Recuperar contraseña</a>
<body>

</body>
</html>