/*
General
 */

.navbar-area {
    background-color: white;
}

.form-group {
    margin-bottom: 15px;
    display: block;
}

.form-group input {
    height: 55px;
    line-height: 55px;
    width: 100%;
    border: 1px solid #e6e2f5;
    padding: 0 20px;
    color: #333;
    border-radius: 0;
    font-weight: 400;
    border-radius: 5px;
}

.form-group select {
    height: 55px;
    line-height: 55px;
    width: 100%;
    border: 1px solid #e6e2f5;
    padding: 0 20px;
    color: #333;
    border-radius: 0;
    font-weight: 400;
    border-radius: 5px;
}

.form-group textarea {
    height: 180px;
    width: 100%;
    border: 1px solid #e6e2f5;
    padding: 15px 20px;
    color: #333;
    border-radius: 0;
    resize: none;
    font-weight: 400;
    border-radius: 5px;
}

.cat-head {
    padding: 35px 50px;
    padding-top: 35px;
    padding-right: 50px;
    padding-bottom: 35px;
    padding-left: 50px;
    background-color: #fff;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 0 1rem 3rem rgb(35 38 45 / 15%) !important;
    box-shadow: 0 1rem 3rem rgb(35 38 45 / 15%) !important;
}

label {
    color: black;
    margin-bottom: 6px;
    font-size: bold;
}

.help-block {
    margin-top: 1px;
    font-size: 12px;
}

#map {
    height: 500px;
    width: 100%;
}

.display_n {
    display: none !important;
}
.hidde {
    visibility: hidden;
}

.breadcrumbs {
    background-image: url(../images/resources/breadone.png);
}

.text-nontrans {
    text-transform: inherit !important;
}

.hero-area.style4 {
    background-image: url(https://demo.graygrids.com/themes/jobgrids/assets/images/hero/home-page4.jpg);
}

.hero-area.style4::after {
    background-image: url(https://demo.graygrids.com/themes/jobgrids/assets/images/hero/small-patern.png);
}

.my-6 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.hero-area.style2 {
    position: relative;
    height: auto !important;
    width: 100%;
}

.footer-top {
    background: #f6f9fc;
}

.btn-wp{
    background-color: #128c7e !important;
}

.button .btn-wp:hover {
    background-color: #075e54 !important;
}

.form-control {
    font-size: inherit !important;
}

.password-content {
    padding: 30px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 6px;
}

.password-content h3 {
    font-size: 22px;
    font-weight: 700;
}

.password-content p {
    display: block;
    margin-top: 5px;
}

.password-content form {
    margin-top: 30px;
}

/*
Page
 */

 /*
Index
 */

 .header .button .btn {
    background: #ff7f4e;
}
.button .btn {
    background-color: #ff7f4e;
}
.button .btn:hover {
    background-color: #FF4D91 !important;
    color: white !important;
}
.button .btn-alt {
    background-color: #CFD85C;
    color: black !important;
}

#btn-rp{
    background-color: #CFD85C !important;
    color: black !important;
}
#btn-rp:hover {
    background-color: #FF4D91 !important;
    color: white !important;
}
.call-action.style2 {
    background-color: #ff7f4e;
}
.header .button .login {
    color: #ff7f4e;
}

.header .button .login:hover {
    border-color: #FF4D91;
    color: #FF4D91;
}

.call-action.style2 .button .btn {
    background-color: #CFD85C;
    color: black;
}

.about-us .content-left .media-body {
    background-color: #ff7f4e;
}

.about-us .content-right .single-list i {
    background: #CFD85C;
    color: black;
}

.scroll-top {
    background: #ff7f4e;
}

.hero-area {
    background: #ffb0914a;
}

.scroll-top:hover {
    background-color: #FF4D91;
}

.hero-area.style4::before {
    background-color: #ffb091db;
}

.hero-area.style4 .hero-inner .hero-text h1 {
    color: #000;
}

.hero-area.style4 .hero-inner .hero-text p {
    color: #000;
}

.breadcrumbs.overlay::before {
    background-color: #ff7f4e;
}

.dashbord-sidebar ul li a.active {
    background-color: #ff7f4e;
}

.dashbord-sidebar ul li a:hover {
    background-color: #FF4D91;
}

.resume .inner-content .single-section.skill ul li a:hover {
    background-color: #ff7f4e;
}

.resume .inner-content .social li a:hover {
    background-color: #ff7f4e;
}

.pagination .pagination-list li.active a, .pagination .pagination-list li:hover a {
    background: #ff7f4e;
    color: #fff;
    border-color: transparent;
}

.navbar-toggler {
    padding: 0;
    background-color: #ff7f4e;
}

.navbar-nav .nav-item a.active {
    color: #ff7f4e;
}

.navbar-nav .nav-item a:hover {
    color: #ff7f4e;
}

.bookmarked .job-items .manage-content .can-img img {
    width: 100px;
}

/*
Responsive
 */

@media only screen and (max-width: 767px){
    .map-section {
        padding-bottom: 0px !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .container {
         width: auto; 
    }
}

